<h2>チャット希望者一覧</h2>

<table class="table">
  <thead>
    <tr>
      <th>ユーザー名</th>
      <th>チャット開始時間</th>
      <th>対応ステータス</th>
      <th>対応社員</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
  <% @rooms.each do |room| %>
    <tr>
      <td><%= User.find(room.user_id).nickname %></td>
      <td><%= room.created_at.strftime("%Y-%m-%d %H:%M") %></td>
      <td> <%= room.response_status %></td>
      <td>
        <% if room.corporate_user.present? %>
          <%= room.corporate_user.last_name %>
        <% else %>
          未対応
        <% end %>
      </td>
      <td>
        <% if room.corporate_user.present? && room.corporate_user != current_corporate_user %>
          <%= button_to '対応中', '#', class: 'btn btn-secondary', disabled: true %>
        <% else %>
          <%= button_to 'ルームに入る', enter_room_admin_room_path(room), method: :patch, class: 'btn btn-primary' %>
        <% end %>
        <%= link_to 'ルーム詳細', admin_room_path(room), class: 'btn btn-secondary' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="d-flex justify-content-center">
  <%= paginate @rooms %>
</div>