<div class="container mt-5">
  <h2 class="mb-4">管理者情報</h2>

  <div class="mb-4">
    <p>名前: <%= @corporate_user.last_name %> <%= @corporate_user.first_name %></p>
    <p>フリガナ: <%= @corporate_user.last_name_kana %> <%= @corporate_user.first_name_kana %></p>
    <p>所属店舗: <%= @corporate_user.affiliated_store %></p>
    <p>住所: <%= @corporate_user.address %></p>
    <p>電話番号: <%= @corporate_user.telephone_number %></p>
    <p>メールアドレス: <%= @corporate_user.email %></p>
    <p>出勤ステータス: <%= @corporate_user.work_status ? '出勤中' : '退勤済み' %></p>
    <p>アカウントステータス: <%= @corporate_user.is_corporate_user_active ? '在職' : '退職済み' %></p>
    <%= link_to '編集する', edit_admin_corporate_user_path(@corporate_user), class: 'btn btn-primary' %>
  </div>