<div class="container">
  <div class="row mt-5">
    <div class="col-md-5">
      <div class="border border-dark p-3" style="height: auto; margin-right: 10px;">
        <div class="mb-3">
          <%= render 'public/questions/new', locals: { question: @question } %>
        </div>

        <div>
          <p class="border-bottom border-dark pb-2 text-center" style="margin-bottom: 10px;">チャットで質問する</p>
          <% if user_signed_in? %>
            <div class="text-center">
              <%= link_to 'チャットルームへ', rooms_path, method: :post, class: 'btn btn-primary' %>
            </div>
          <% else %>
            <p class="text-align: left; word-wrap: break-word; line-height: 1.6;">
              ルームに入るには
              <%= link_to '新規登録orログイン', new_user_session_path %>が必要です。
            </p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-7">
      <div class="border border-dark p-4 text-center" style="width: 100%; max-width: 600px; margin: auto;">
        <p class="m-0">
          「iekaku」このサイトは不動産売買に関する悩みを<br>
          質問形式で回答するサイトです。回答するのは<br>
          不動産売買を専門で扱っている〇〇会社の社員です。<br>
          何か質問や悩みがある方は会員登録を行なった後、<br>
          質問の投稿をお願いします。<br>
          ※質問は他の方にも閲覧されるため、<br>
          個人情報に関することにつきましては、<br>
          チャットでのご相談を承っております。
        </p>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12 mb-4">
      <h2 class="text-dark fw-bold text-center position-relative pb-3 border-bottom border-secondary">
        新着質問
      </h2>
    </div>
    <div class="d-flex flex-wrap justify-content-start">
      <% @questions.each do |question| %>
        <div class="col-md-6 mb-4">
          <div class="card shadow-sm h-100">
            <div class="card-body">
              <h5 class="card-title">
                <%= link_to question.title, question_path(question), class: 'text-decoration-none text-dark' %>
              </h5>
              <p class="card-text"><%= question.body %></p>
              <p class="text-muted mb-1">
                返信: <%= question.question_answers.count %>
              </p>
              <% if  question.user == current_user %><!-- 投稿者のみ -->
                <% if question.question_answers.any? %> <!-- 返信がある場合 -->
                  <p>※この質問は編集できません（返信済み）</p>
                <% else %>
                  <%= link_to '編集', edit_question_path(question), class: 'btn btn-sm btn-outline-success' %>
                  <%= link_to '削除', question_path(question), method: :delete, data: { confirm: '本当に削除してもよろしいですか？' }, class: 'btn btn-sm btn-outline-danger' %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
          
  <div class="row justify-content-end">
    <div class="col-2 offset-10 p-0">
      <%= link_to 'すべての質問を見る>', questions_path, class:'text-center', style:'text-decoration: underline;' %>
    </div>
  </div>
</div>
  

