<h1><%= @question.title %></h1>
<p><strong>質問者:</strong> <%= @question.user.nickname %></p>
<p><%= @question.body %></p>
  <% if  @question.user == current_user %><!-- 投稿者のみ -->
    <% if @question.question_answers.any? %> <!-- 返信がある場合 -->
      <p>※この質問は編集できません（返信済み）</p>
    <% else %>
      <%= link_to '編集', edit_question_path(@question), class: 'btn btn-sm btn-outline-success' %>
      <%= link_to '削除', question_path(@question), method: :delete, data: { confirm: '本当に削除してもよろしいですか？' }, class: 'btn btn-sm btn-outline-danger' %>
    <% end %>
  <% end %>
<hr>

<h2>回答</h2>
<% if @answers.any? %>
  <% @answers.each do |answer| %>
    <div class="answer-item border-bottom mb-2 pb-2">
      <p><strong>回答者:</strong> <%= answer.corporate_user.last_name %></p>
      <p><%= answer.body %></p>

      <% if answer.corporate_user == current_corporate_user %> <!-- 回答者のみ編集・削除可能 -->
        <%= link_to '編集', edit_admin_question_question_answer_path(@question, answer), class: 'btn btn-sm btn-outline-success' %>
        <%= link_to '削除', admin_question_question_answer_path(@question, answer), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-sm btn-outline-danger' %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <p>まだ返信がありません。</p>
<% end %>

<!-- 管理者のみに回答フォームを表示 -->
<% if corporate_user_signed_in? %>
  <hr>
  <h2>回答を投稿</h2>
   <%= form_with(model: [@question, @answer], url: admin_question_question_answers_path(@question), local: true) do |f| %>
    <div>
      <%= f.label :body, "回答内容" %>
      <%= f.text_area :body, required: true, class: "form-control" %>
    </div>
    <%= f.submit '回答を投稿', class: 'btn btn-primary mt-2' %>
   <% end %>
<% end %>