<h2>回答を投稿する</h2>
<%= form_with(model: [@question, QuestionAnswer.new], local: true) do |form| %>
  <div>
    <%= form.label :admin_id, "担当者" %><br>
    <%= form.collection_select :admin_id, Admin.all, :id, :name, prompt: "担当者を選択" %>
  </div>
  <div>
    <%= form.label :body, "回答内容" %><br>
    <%= form.text_area :body, required: true %>
  </div>
  <div>
    <%= form.submit "回答を投稿", class: "btn btn-primary" %>
  </div>
<% end %>