<h1 class="mt-4 mb-5 text-center"><%= @user.nickname %> さんの編集</h1>

<%= form_with(model: @user, url: admin_user_path(@user), method: :patch, local: true) do |f| %>
  <div class="mb-3">
    <%= f.label :nickname, 'ニックネーム' %>
    <%= f.text_field :nickname, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label :email, 'メールアドレス' %>
    <%= f.email_field :email, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label :memo, 'メモ' %>
    <%= f.text_area :memo, rows: 5, class: 'form-control' %>
  </div>

  <div class="row mt-4 justify-content-center">
    <div class="col-auto">
      <%= f.submit '保存する', class: 'btn btn-success' %>
    </div>
    <div class="col-auto">
      <%= link_to '戻る', admin_user_path(@user), class: 'btn btn-secondary' %>
    </div>
  </div>
<% end %>