<!DOCTYPE html>
<html>
  <head>
    <title>Iekaku</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header style="background-color: #ADD8E6;">
      <div class="container py-3">
        <nav class="navbar navbar-expand-lg navbar-dark">
          
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <%= render 'layouts/header' %> 
          </div>
        </nav>
        <div class="search"style="text-align: right; padding-right: 30px;">
          <%= form_with url: search_path, method: :get, local: true do |f| %>  
             <%= f.text_field :keyword, placeholder: "気になるワードを検索", class: "form-control", style: "display: inline-block; width: auto;" %>
             <%= button_tag(type: 'submit', class: "btn btn-primary", style: "padding: 5px 10px; font-size: 14px;") do %>
               <i class="fa-solid fa-magnifying-glass"></i> 検索
             <% end %>
          <% end %>
        </div>
      </div>
    </header>

    <% flash.each do |key, message| %>
      <% if key == :notice %>
        <div class="flash-message alert alert-success">
          <%= message %>
        </div>
      <% elsif key == :alert %>
        <div class="flash-message alert alert-danger">
          <%= message %>
        </div>
      <% end %>
    <% end %>

    <main>
      <p id="notice"><%= notice %></p>
      <%= yield %>
    </main>
    <footer>
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
