<!DOCTYPE html>
<html>
  <head>
    <title>Iekaku</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header style="background-color: #ADD8E6;">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark">
          
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <%= render 'layouts/header' %> 
          </div>
        </nav>
      </div>
    </header>

    <main>
      <p id="notice"><%= notice %></p>
      <%= yield %>
    </main>
    <footer>
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
